# ===================================================================
# artellapipe-tools-assetspublisher requirements file
# ===================================================================

artellapipe